---
import ProjectCard from "./ProjectCard.astro";
import PROJECTS from "../data/projects.js";
---

<div class="flex flex-wrap gap-6 relative">
  {
    PROJECTS.filter((p) => p.selected).map(
      ({
        id,
        image,
        imagePosition,
        title,
        description,
        tags,
        link,
        github,
        projectLink,
      }) => (
        <ProjectCard
          id={id}
          image={image}
          imagePosition={imagePosition}
          title={title}
          description={description}
          tags={tags}
          link={link}
          github={github}
          projectLink={projectLink}
        />
      )
    )
  }
</div>
