---
import Arrow from "../icons/ArrowUpRight.astro";
const {
  id,
  image,
  imagePosition,
  title,
  description,
  tags,
  link,
  github,
  projectLink,
} = Astro.props;
import Tags from "./Tags.astro";
---

<article
  class="group max-h-[600px] w-full relative rounded-3xl lg:text-end duration-300 animation-reveal-scroll
  text-neutral-900 bg-black/5 hover:bg-neutral-200
  dark:text-white dark:bg-white/5 dark:hover:bg-white/10"
  transition:name={`project${id}`}
>
  <div class="overflow-hidden rounded-3xl p-3">
    <a href={projectLink} class="flex flex-col lg:flex-row justify-between">
      <div
        class="order-2 lg:order-1 flex-shrink-0 lg:w-[500px] lg:h-[300px] lg:max-w-[500px] lg:max-h-[300px] rounded-2xl overflow-clip"
      >
        <img
          alt={title}
          transition:name=`imageProject${id}`
          loading={"eager"}
          class=` ${imagePosition} object-cover h-full w-full  rounded-2xl transition duration-200 translate-y-0  hover-hover:group-hover:saturate-200  hover-hover:group-hover:scale-[1.02]`
          src={image}
        />
      </div>
      <div class="order-1 lg:order-2 p-3 lg:ps-6 flex flex-col">
        <h1 class="text-xl xs:text-4xl font-bold">
          {title}
        </h1>
        <Tags classList="lg:justify-end mt-3" tags={tags} />
        <div
          class="text-gray-700 dark:text-gray-400 hidden xs:block text-pretty lg:text-balance mt-6 mb-3 lg:mb-0"
        >
          {description}
        </div>
        <div
          class="hidden lg:block opacity-0 group-hover:opacity-100 transition-opacity duration-300 ml-auto mt-auto bg-white dark:bg-neutral-900 p-4 rounded-full"
        >
          <div class="sr-only">Más información</div>
          <Arrow class="size-6" />
        </div>
      </div>
    </a>
  </div>
</article>
