---
import ProjectCard from "./ProjectCard.astro";
import PROJECTS from "../data/projects.js";
---

<div class="flex flex-wrap gap-10 relative">
  {
    PROJECTS.filter((p) => p.selected).map(
      ({ id, image, title, description, tags, link, github, projectLink }) => (
        <ProjectCard
          id={id}
          image={image}
          title={title}
          description={description}
          tags={tags}
          link={link}
          github={github}
          projectLink={projectLink}
        />
      )
    )
  }
</div>
