---
import ProjectCard from "./ProjectCard.astro";
import { SELECTED_PROJECTS } from "../data/projects.js";
---

<div class="flex flex-wrap gap-6 relative">
  {
    SELECTED_PROJECTS.map(
      ({ id, image, imagePosition, title, description, tags, projectUrl }) => (
        <ProjectCard
          id={id}
          image={image}
          imagePosition={imagePosition}
          title={title}
          description={description}
          tags={tags}
          projectUrl={projectUrl}
          class={"animate-on-scroll"}
        />
      )
    )
  }
</div>
