---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import PROJECTS from "../../data/projects.js";
import Tags from "../../components/Tags.astro";
import Link from "../../components/Link.astro";
import BackButton from "../../components/BackButton.astro";

export const getStaticPaths = (() => {
  const paths = PROJECTS.map((project) => ({
    params: { project: project.id },
  }));
  return paths;
}) satisfies GetStaticPaths;

const { project } = Astro.params;

let Content;
try {
  Content = await import(`../../articles/${project}.md`)
    .then((c) => c.Content)
    .catch((e) => e);
} catch (error) {
  console.error("No se encontro el archivo contenido!");
}

const info = PROJECTS.find((p) => p.id === project);

if (!info) {
  return Astro.redirect("/404");
}
---

<Layout title={info.title} description={info.description}>
  <Fragment slot="header">
    <BackButton />
  </Fragment>
  <main class="container mx-auto px-4 py-20 md:py-36 space-y-20">
    <section>
      <h1 class="text-7xl font-bold mb-6 text-center">
        {info.title}
      </h1>
      <h2
        class="text-center text-balance text-neutral-700 dark:text-neutral-500 max-w-prose mx-auto"
      >
        {info.description}
      </h2>
    </section>

    <section class="grid grid-cols-3 max-w-[500px] mx-auto">
      <div class="col-span-1">
        <p class="text-neutral-700 dark:text-neutral-400">Fecha</p>
        {info.date}
      </div>
      <div class="col-span-1">
        <p class="text-neutral-700 dark:text-neutral-400">Links</p>
        <div class="flex flex-col">
          {
            info.github && (
              <Link
                rel="noopener"
                target="_blank"
                href={info.github}
                class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >
                Github
              </Link>
            )
          }
          {
            info.link && (
              <Link
                rel="noopener"
                target="_blank"
                href={info.link}
                class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >
                Sitio web
              </Link>
            )
          }
          {!info.github && !info.link && "No hay links disponibles"}
        </div>
      </div>
      <div class="col-span-1">
        <p class="text-neutral-700 dark:text-neutral-400">Tecnologias</p>
        <Tags tags={info.tags} />
      </div>
    </section>

    <section class="flex place-content-center">
      <img
        transition:name=`imageProject${info.id}`
        src={info.image}
        alt={info.title}
        class="rounded-3xl p-2 bg-black/10 dark:bg-white/10"
      />
    </section>

    <section
      class="mx-auto max-w-prose prose lg:prose-xl dark:prose-invert prose-img:rounded-xl prose-a:text-blue-600 [&_summary]:hover:cursor-pointer [&_summary]:font-bold"
    >
      <Content />
    </section>
  </main>
</Layout>
