---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import PROJECTS from "../../data/projects.js";
import Tags from "../../components/Tags.astro";
import Link from "../../components/Link.astro";
import BackButton from "../../components/BackButton.astro";

export const getStaticPaths = (() => {
  const paths = PROJECTS.map((project) => ({
    params: { project: project.id },
  }));
  return paths;
}) satisfies GetStaticPaths;

const { project } = Astro.params;

let Content;
try {
  Content = await import(`../../articles/${project}.md`)
    .then((c) => c.Content)
    .catch((e) => e);
} catch (error) {
  console.error("No se encontro el archivo contenido!");
}

const info = PROJECTS.find((p) => p.id === project);

if (!info) {
  return Astro.redirect("/404");
}
---

<Layout title={info.title} description={info.description}>
  <main class="mx-auto px-4 py-20 sm:py-36 space-y-10 sm:space-y-20">
    <section>
      <h1 class="text-5xl sm:text-7xl font-bold mb-6 text-center">
        {info.title}
      </h1>
      <h2
        class="text-center text-balance text-neutral-700 dark:text-neutral-500 max-w-prose mx-auto"
      >
        {info.description}
      </h2>
    </section>

    <section class="grid grid-cols-3 max-w-[500px] mx-auto">
      <div class="col-span-1">
        <p class="text-neutral-700 dark:text-neutral-400">Fecha</p>
        {info.date}
      </div>
      <div class="col-span-1">
        <p class="text-neutral-700 dark:text-neutral-400">Links</p>
        <div
          class="flex flex-col font-medium text-blue-600 dark:text-blue-500 hover:[&_a]:underline"
        >
          {
            info.github && (
              <Link rel="noopener" target="_blank" href={info.github}>
                Github
              </Link>
            )
          }
          {
            info.link && (
              <Link rel="noopener" target="_blank" href={info.link}>
                Sitio web
              </Link>
            )
          }
          {!info.github && !info.link && "No hay links disponibles"}
        </div>
      </div>
      <div class="col-span-1">
        <p class="text-neutral-700 dark:text-neutral-400">Tecnologias</p>
        <Tags tags={info.tags} />
      </div>
    </section>

    <section class="flex md:mx-6 place-content-center">
      <img
        transition:name=`imageProject${info.id}`
        src={info.image}
        alt={info.title}
        class="rounded-xl sm:rounded-3xl p-1 sm:p-2 bg-black/10 dark:bg-white/10"
      />
    </section>

    <section
      class="mx-auto max-w-prose prose lg:prose-xl dark:prose-invert prose-a:text-blue-500 dark:prose-a:text-blue-500
      marker:text-neutral-400 dark:marker:text-neutral-600
      [&_summary]:hover:cursor-pointer [&_summary]:font-bold
      prose-img:rounded-xl prose-img:transition-all prose-img:p-1 prose-img:bg-black/5 dark:prose-img:bg-white/5
      prose-img:z-0 prose-img:shadow lg:prose-img:shadow-md
      hover:[&_figure]:scale-105
      prose-figure:max-w-fit prose-figure:transition-all prose-figure:mx-auto prose-figure:relative
      prose-figcaption:max-w-fit prose-figcaption:ms-auto prose-figcaption:me-auto prose-figcaption:px-2 prose-figcaption:rounded-b-md prose-figcaption:shadow-md prose-figcaption:z-50 prose-figcaption:-mt-1
      prose-figcaption:text-neutral-600 dark:prose-figcaption:text-neutral-400
      prose-figcaption:bg-[#ededed] dark:prose-figcaption:bg-[#161616]"
    >
      <Content />
    </section>
  </main>
</Layout>
